---
title: Have You Met My Friend?
---

<div>
  <h1>Friends Don't Let Friends Go On Bad Dates</h1>
  <h2>...Have You Met My Friend?</h2>
  <p>
  Coming Soon To A City Near You
  </p>
  <body>
  <p>Request an invite here: <%= mail_to 'haveumetmyfriend@gmail.com', "Waiting List RSVP" %></p>
</body>
</div><!-- .welcome -->
